*{
    margin: 0;
        font-family: 'eng';
    padding: 0;
    user-select: none;
}
body{
    background-color: #f1efeb;
}
@font-face {
    font-family: 'eng';
    src: url(../font/Poppins-Regular.ttf);
}
h3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
 background-color: #f6f3ec;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    width: 90%;
    justify-content: flex-start;
    padding: 10px;
}
.content{
    width: 80%;
    margin-left: 10%;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 20px;
    padding: 10px;
}
.ko{
    background-image: url(../Pho/k.jpg);
    width: 130px;
    z-index: 1000;
    transition-duration: .2s;
    border-radius: 10px;
    box-shadow: 0px 05px 10px 0px rgb(220, 219, 219);
    background-size: cover;
    height: 130px;
}
.ko:active{
    transform: scale(.9);
}
.kho{
    background-image: url(../Pho/kh.jpg);
    width: 130px;
        transition-duration: .2s;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0px 05px 10px 0px rgb(220, 219, 219);
    background-size: cover;
    height: 130px;
}
.kho:active{
    transform: scale(.9);
}





/* list category Section */
#title{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    display: flex;
}
.main{
 width: 90%;
 margin-left: 5%;
 margin-top: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
 flex-wrap: wrap;
 height: auto;

}
@font-face {
    font-family: 'bng';
    src: url(../font/HindSiliguri-Regular.ttf);
}
.index{
    width: 90%;
        font-family: 'bng';
        font-size: 20px;
        padding: 6px;
        border-radius: 50px;
        font-weight: 700;
        background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
}
.list{
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
       font-family: 'bng';
    font-size: 15px;
    display: flex;
    transition-duration: .2s;
    height: 3rem;
background-color: rgb(255, 255, 255);
box-shadow: 0px 5px 13px rgb(230, 229, 229);
}
.list:active{
    transform: scale(.9);
}