*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background-color:#F6F3EC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
button{
    border: none;
    position: absolute;
    width: 90%;
    margin-top: 20px;
    display: flex;
    top: 0;
    z-index: 1000;
    padding: 10px;
    background-color: #f6f3ec;
}
h2{
    width: 90%;
    margin-top: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'eng';
    font-size: 17px;
}
@font-face {
    font-family: 'eng';
    src: url(../font/Poppins-Regular.ttf);
}
.academic{
    background-color: #ffffff;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
      font-family: 'eng';
      padding-bottom: 30px;
    border-radius: 20px;
}
.academic .tag{
    width: 90%;
    top: 0;
    display: flex;
    font-size: 15px;
    margin-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: flex-start;
}

.bangla{
    border-radius: 10px;
    width: 130px;
    background-size: cover;
    height: 130px;
    transition-duration: .2s;
    background-image: url(../Pho/Bangla.jpg);
}
.bangla:active{
    transform: scale(.9);
}

.ict{
    border-radius: 10px;
    width: 130px;
    background-size: cover;
    height: 130px;
    transition-duration: .2s;
    background-image: url(../Pho/ICT.jpg);
}
.ict:active{
    transform: scale(.9);
}