*{
margin:0;
Padding:0;
 user-select: none;
 scrollbar-width: none;
}
 
body{
width: 100%;
height: auto;
}
 
a{
color: blue;
text-decoration: none;
}
 
@media (max-width : 768px) {
 
 
}
 @font-face {
  font-family: ip;
  src: url(../font/FN\ Mamun\ Turio\ Unicode.ttf);
 }
 header{
  width: 100%;
  font-weight: bold;
  height: 5rem;
  font-size: 1.3rem;
  flex-direction: column;
  gap: 5px;
  font-family: ip;
  display: flex;
  justify-content: center;
  align-items: center;
 }

hr{
 width: 60%;
 background-color: rgb(62, 169, 245);
 border: none;
 height: .2rem;
}

@font-face {
 font-family: ip;
 src: url(../font/Ios\ Kohinoor\ font.ttf);
}
#content{
 padding-top: 10%;
 width: 90%;
 margin-left: 5%;
 height: auto;
 font-size: 1rem;
 display: flex;
 font-family: ip;
 justify-content: center;
 /* align-items: center; */
 flex-direction: column;
}
@font-face {
 font-family: op;
 src: url(../font/Poppins-Regular.ttf);
}
.next{
 width: 100%;
 height: 4rem;
 display: flex;
 justify-content: center;
 bottom: 0;
 font-family: op;
 align-items: center;
 padding-bottom: 10%;
 /* background-color: rgb(209, 205, 205); */
}
.page{
 width: 50px;
 height: 50px;
 display: flex;
 margin-left: 3%;
 align-items: center;
 justify-content: center;
 filter: drop-shadow(0px 5px 10px rgb(220, 220, 220));
 border-radius: 50px;
 border: none;
 background-color: white;
 transition-duration: .2s;
}
.page:active{
 transform: scale(.9);
}
.red{
 color: white;
 background-color: red;
}

#red{
 color: red;
}


.loading{
 width: 100%;
 height: 4rem;
 padding-bottom: 20%;
 /* background-color: cyan; */
 animation:  blink 2s ease-out infinite;
}
@keyframes blink {
 
 0%{
  opacity: 1;
 }
 50%{
  opacity: .5;
 }
 100%{
  opacity: 1;
 }

}

.question{
 width: 90%;
 border-radius: 50px;
 margin-left: 5%;
 height: 1rem;
 background-color: rgb(234, 234, 234);
}

.options{
 width: 40%;
 margin-left: 5%;
 margin-top: 2%;
 height: 1rem;
 background-color: rgb(226, 226, 226);
 border-radius: 50px;
}