*{
margin:0;
Padding:0;
 user-select: none;
 scrollbar-width: none;
}
 
body{
width: 100%;
height: auto;
}
 
a{
color: blue;
text-decoration: none;
}
 
@media (max-width : 768px) {
 
 
}
 
@font-face {
 font-family: pp;
 src: url(../font/FN\ Mamun\ Turio\ Unicode.ttf);
}
.goddo{
 width: 100%;
 height: 4rem;
 font-size: 1.5rem;
 font-family: pp;
 background-color: rgb(2, 2, 59);
 filter: drop-shadow(0px 05px 14px rgb(135, 135, 135));
 display: flex;
 /* margin-top: 10%; */
 justify-content: center;
 color: whitesmoke;
 align-items: center;
}
 .goddo-content{
  margin-top: 20%;
  width: 100%;
  gap: 25px;
  height: auto;
  row-gap: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 @font-face {
  font-family: op;
  src: url(../font/Ios\ Kohinoor\ font.ttf);
 }
 .box{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: op;
  padding: 5px;
  filter: drop-shadow(0px 0px 6px rgb(218, 217, 217));
  height: 4.8rem;
  border-radius: 10px;
  transition-duration: .2s;
  background-color: rgb(255, 255, 255);

 }
.box:active{
 transform: scale(.9);
}
 #none{
  visibility: hidden;
 }

 .poddo{
  width: 100%;
  height: 4.5rem;
  margin-top: 10%;
  display: flex;
 filter: drop-shadow(0px 05px 14px rgb(135, 135, 135));
  justify-content: center;
  font-family: pp;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgb(3, 3, 97);
  color: whitesmoke;
 }